<div class="mb-3 form-floating">
    <!-- <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="password"> -->
    <input [class.is-invalid]="control.invalid && control.touched" [type]="type()" class="form-control" name="label()"
        [formControl]="control" placeholder="{{label()}}">
    <label>{{label()}}</label>
    <div *ngIf="control.hasError('required')" class="invalid-feedback">
        Please enter a {{label()}}</div>
    <div *ngIf="control.hasError('minlength')" class="invalid-feedback">
        {{label()}} must be at least {{control.errors?.['minlength'].requiredLength}} characters</div>
    <div *ngIf="control.hasError('maxlength')" class="invalid-feedback">
        {{label()}} must be at more {{control.errors?.['maxlength'].requiredLength}} characters</div>
    <div *ngIf="control.hasError('isMatching')" class="invalid-feedback">
        Confirm {{label()}} must match {{label()}}</div>
</div>